@if (_isLoaded)
{
    <div class="@_badgeClass" style="@_badgeStyle" title="@Tooltip" @attributes="AdditionalAttributes">
        @if(string.IsNullOrEmpty(IconClass)) {
            <span>@_badgeString</span>
        }
        else {
            <i class="@IconClass"></i>
        }
    </div>
}