@using System.Text.RegularExpressions

@if (IsExternal(href))
{
	<a class="@className" title="@title" href="@href" target="_blank" @onclick="OnClickInternal" @attributes="AdditionalAttributes">
		@ChildContent
	</a>
}
else
{
	<a class="@className" title="@title" href="@href" @onclick="OnClickInternal" @attributes="AdditionalAttributes">
		@ChildContent
	</a>
}
