@using IconType = BlazingApple.Components.Services.IconType
@using BlazingApple.Components.Icons

@if(ChildContent is null)
{
	<IconCore AdditionalAttributes="AdditionalAttributes" AdditionalClasses="@AdditionalClasses" AltText="@AltText" CustomIcon="@CustomIcon" I="I" />
}
else
{
	<span class="d-flex">
		<span class="d-flex justify-content-center align-items-center">
			<IconCore AdditionalAttributes="AdditionalAttributes" AdditionalClasses="@AdditionalClasses" AltText="@AltText" CustomIcon="@CustomIcon" I="I" />
			<span class="d-flex align-items-center justify-content-center" style="position: absolute; margin-bottom: -1rem; margin-right: -1rem; font-size: .6rem;">
				@ChildContent
			</span>
		</span>
	</span>
}