@inherits InputRadioGroup<T>
@typeparam T

<div class="@($"pill-radio-group-container {AdditionalClasses}")" style="@($"--segment-count: {OptionCount}; --selected-segment-index: {SelectedIndex+1};")">
	<div class="pill-radio-group">
		<InputRadioGroup Name="@Name" @bind-Value="BoundValue">
			@if (OptionsByKey is not null)
			{
				@foreach (KeyValuePair<string, T> kvp in OptionsByKey)
				{
					<div class="@(Value?.Equals(kvp.Value) ?? false ? "segment active" : "segment inactive")">
						<InputRadio id="@($"{Name}-{kvp.Key}")" Value="kvp.Key" style="
							opacity: 0; margin: 0; top: 0; right: 0; bottom: 0; left: 0;
							position: absolute; width: 0%; cursor: pointer; z-index: -1; height: 100%;" />
						<label for="@($"{Name}-{kvp.Key}")">
							@if (TemplatedContent is not null)
							{
								@TemplatedContent(kvp.Value)
							}
							else
							{
								@kvp.Key
							}
						</label>
					</div>
				}
			}
			else if (Options is not null)
			{
				@foreach (T option in Options)
				{
					<div class="@(Value?.Equals(option) ?? false ? "segment active" : "segment inactive")">
						<InputRadio id="@($"{Name}-{option}")" Value="option?.ToString()" style="
							opacity: 0; margin: 0; top: 0; right: 0; bottom: 0; left: 0;
							position: absolute; width: 0%; cursor: pointer; z-index: -1; height: 100%;" />
						<label for="@($"{Name}-{option}")">
							@if (TemplatedContent is not null)
							{
								@TemplatedContent(option)
							}
							else
							{
								@option
							}
						</label>
					</div>
				}
			}
		</InputRadioGroup>
	</div>
</div>