@if (record == null && string.IsNullOrEmpty(slug))
{
	<Loading Style="Loading.LoadingStyle.Subtle" />
}
else
{
	<span class="recordActions" title="@DisabledTooltip">
		@if (OnEditPage)
		{
			<BrowserLink href="@_detailsRoute" disabled="@Disabled" className="@(Disabled ? "btn btn-link disabled p-0" : "")">Details</BrowserLink>
		}
		else if (OnDetailsPage)
		{
			if (!OnEditClick.HasDelegate)
			{
				<BrowserLink href="@_editRoute" disabled="@Disabled" className="@(Disabled ? "btn btn-link disabled p-0" : "")">Edit</BrowserLink>
			}
			else
			{
				<a href="javascript:void(0);" disabled="@Disabled" role="button" class="@(Disabled ? "btn btn-link disabled p-0" : "")" @onclick="_OnEditClick">Edit</a>
			}
		}
		else
		{
			if (!HideEditButton)
			{
				if (!OnEditClick.HasDelegate)
				{
					if (DisplayEditAsIcon)
					{
						<BrowserLink href="@_editRoute" disabled="@Disabled" className="@(Disabled ? "btn btn-link disabled p-0" : "")" ><Icon I="s.IconType.Edit" AltText="Edit" /></BrowserLink>
						@if(ShowSpacer) {
							<span class="mx-1"></span>
						}
						else {
							<span class="mx-1">@vertBar</span>
						}
					}
					else
					{
						<BrowserLink href="@_editRoute" disabled="@Disabled" className="@(Disabled ? "btn btn-link disabled p-0" : "")">Edit</BrowserLink>
						@if(ShowSpacer) {
							<span class="mx-1"></span>
						}
						else {
							<span class="mx-1">@vertBar</span>
						}
					}
				}
				else
				{
					if (DisplayEditAsIcon)
					{
						<a href="javascript:void(0);" role="button" disabled="@Disabled" class="@(Disabled ? "mr-1 btn btn-link disabled p-0" : "mr-1")"  @onclick="_OnEditClick"><Icon I="s.IconType.Edit" AltText="Edit"></Icon></a>
					}
					else
					{
						<a href="javascript:void(0);" role="button" disabled="@Disabled" class="@(Disabled ? "btn btn-link disabled p-0" : "")" @onclick="_OnEditClick">Edit</a>
					}
				}
			}
			<a href="javascript:void(0);" @onclick="_OnDeleteClick" disabled="@Disabled" class="@(Disabled ? "btn btn-link disabled p-0" : "")"><Icon I="s.IconType.Delete" AltText="Delete" /></a>
		}
	</span>
}
