@if (Record == null && string.IsNullOrEmpty(Slug))
{
	<Loading Style="Loading.LoadingStyle.Subtle" />
}
else
{
	<span class="recordActions" title="@DisabledTooltip">
		@if (OnEditPage)
		{
			<BrowserLink href="@_detailsRoute" AdditionalAttributes="@AdditionalAttributes" disabled="@Disabled" className="@LinkClassNames">Details</BrowserLink>
		}
		else if (OnDetailsPage)
		{
			if (!OnEditClick.HasDelegate)
			{
				<BrowserLink href="@_editRoute" AdditionalAttributes="@AdditionalAttributes" disabled="@Disabled" className="@LinkClassNames">Edit</BrowserLink>
			}
			else
			{
				<a href="javascript:void(0);" @attributes="@AdditionalAttributes" disabled="@Disabled" role="button" class="@LinkClassNames" @onclick="_OnEditClick">Edit</a>
			}
		}
		else
		{
			if (!HideEditButton)
			{
				if (!OnEditClick.HasDelegate)
				{
					if (DisplayEditAsIcon)
					{
						<BrowserLink href="@_editRoute" AdditionalAttributes="AdditionalAttributes" disabled="@Disabled" className="@LinkClassNames" ><Icon I="s.IconType.Edit" AltText="Edit" /></BrowserLink>
						@if(ShowSpacer) {
							<span class="mx-1">@vertBar</span>
						}
						else {
							<span class="mx-1"></span>
						}
					}
					else
					{
						<BrowserLink href="@_editRoute" AdditionalAttributes="AdditionalAttributes" disabled="@Disabled" className="@LinkClassNames">Edit</BrowserLink>
						@if(ShowSpacer) {
							<span class="mx-1">@vertBar</span>
						}
						else {
							<span class="mx-1"></span>
						}
					}
				}
				else
				{
					if (DisplayEditAsIcon)
					{
						<a href="javascript:void(0);" role="button" @attributes="@AdditionalAttributes" disabled="@Disabled" class="@LinkClassNames"  @onclick="_OnEditClick"><Icon I="s.IconType.Edit" AltText="Edit"></Icon></a>
					}
					else
					{
						<a href="javascript:void(0);" role="button" @attributes="@AdditionalAttributes" disabled="@Disabled" class="@LinkClassNames" @onclick="_OnEditClick">Edit</a>
					}
				}
			}
			<a href="javascript:void(0);" @onclick="_OnDeleteClick" @attributes="@AdditionalAttributes" disabled="@Disabled" class="@LinkClassNames"><Icon I="s.IconType.Delete" AltText="Delete" /></a>
		}
	</span>
}
