
<div class="ba-calendar-icon-container @SizeClass" @attributes="@AdditionalAttributes">
    <div class="ba-calendar-icon-top">
        @if(Date.Date == DateTime.Now.Date)
        {
            <span class="ba-calendar-icon-top-time">
                @Date.ToString("h:mm")
            </span>
            <span class="ba-calendar-icon-top-am-pm">@Date.ToString("tt").ToLower()</span>
        } 
        else
        {
            @Date.Day
        }
    </div>
    <div class="ba-calendar-icon-bottom">
        @if (Date.Date == DateTime.Now.Date)
        {
            <span style="font-size: .75rem;">Today</span>
        }
        else
        {
            @Date.ToString("MMM")
        }
    </div>
</div>