<h3>Calendar</h3>
@code {
	CalendarEvent calEvent = new();
}

<div class="row">
	<div class="col-lg-6">
		<h4>Calendar Icon</h4>
		<div class="code"><code>@("<CalendarIcon Date=\"@date\" SizeClass=\"medium\" />")</code></div>
		<div style="font-size:1rem;" class="d-flex justify-content-center">
			<CalendarIcon Date="@calEvent.Start" SizeClass="large" />
		</div>

		<EditForm Model="@_model">
			<div class="row">
				<div class="col-lg-12 d-flex flex-column">
					<label>Title</label>
					<InputText class="form-control" @bind-Value="calEvent.Title"></InputText>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 d-flex flex-column">
					<label>Location</label>
					<InputText class="form-control" @bind-Value="calEvent.Location"></InputText>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 d-flex flex-column">
					<label>Description</label>
					<InputTextArea class="form-control" @bind-Value="calEvent.Description"></InputTextArea>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 d-flex flex-column">
					<label>Start date</label>
					<InputDateTime class="form-control" @bind-Value="calEvent.Start"></InputDateTime>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 d-flex flex-column">
					<label>End date</label>
					<InputDateTime class="form-control" @bind-Value="calEvent.End"></InputDateTime>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 d-flex flex-column">
					<div class="form-check">
						<InputCheckbox id="is-full-day" class="form-check-input" @bind-Value="calEvent.IsFullDay"></InputCheckbox>
						<label for="is-full-day" class="form-check-label">Full day</label>
					</div>
				</div>
			</div>
		</EditForm>
	</div>
	<div class="col-lg-6">
		<h4>Calendar Button</h4>
		<AddToCalendar Title="@calEvent.Title"
					   Description="@calEvent.Description"
					   Location="@calEvent.Location"
					   Start="@calEvent.Start"
					   End="@calEvent.End"
					   IsFullDay="@calEvent.IsFullDay"
					   class="btn btn-primary">
			<i class="fas fa-calendar"></i>
		</AddToCalendar>
	</div>
</div>