<h2>Icon Chooser</h2>
<div class="code"><code>@("<IconChooser/>")</code></div>
<IconChooser />
<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<h2>Badges</h2>
<div class="code"><code>@("<Badge Name=\"Senate Bill 133\"/>")</code></div>
<Badge Name="Senate Bill 133" />
<Badge UseFullString="true" Name="@("\"133\"")" />
<Badge UseFullString="true" Name="@("\"1334\"")" />
<Badge Name="Hello *World*, I Love You!" />
<Badge IconClass="fas fa-exclamation-triangle" Name="Warning!" />

@code {
	string badgeString = "hello world";
}
<EditForm Model="@badgeString">
	<InputText class="form-control" style="max-width: 10rem;" @bind-Value="badgeString" />
</EditForm>
<Badge Name="@badgeString" />