@page "/"
@using BlazingApple.Components.Calendar
@using BlazingApple.Components.Lists
<PageTitle>Index</PageTitle>

<h1 class="d-flex" style="align-items:center;">
    <img src="_content/BlazingApple.Components/BlazingApple.png" class="img-fluid" style="margin-right: .5rem; max-height:2.5rem;" />
    Hello, world!
</h1>

Welcome to your BlazingApples's component library! Glad you're here.

<h2>Forms</h2>
<h3>Due Date</h3>
<div class="code"><code>@("<DueDate Date=\"@DateTime.Now.Date.AddDays(5)\"/>")</code></div>

<h4>A few days from now</h4>
<DueDate Date="@DateTime.Now.Date.AddDays(5)" />

<h4>Tomorrow</h4>
<DueDate Date="@DateTime.Now.Date.AddDays(1)" />

<h4>Overdue</h4>
<DueDate Date="@DateTime.Now.Date.AddDays(-1)" />

<h4><i>Really</i> Overdue</h4>
<DueDate Date="@DateTime.Now.Date.AddDays(-5)" />

<h3>Icon Chooser</h3>
<div class="code"><code>@("<IconChooser/>")</code></div>
<IconChooser />

<h2>Badges</h2>
<div class="code"><code>@("<Badge Name=\"Senate Bill 133\"/>")</code></div>
<Badge Name="Senate Bill 133" />
<Badge UseFullString="true" Name="@("\"133\"")" />
<Badge UseFullString="true" Name="@("\"1334\"")" />
<Badge Name="Hello *World*, I Love You!" />

@code {
    string badgeString = "hello world";
}
<EditForm Model="@badgeString">
    <InputText @bind-Value="badgeString" />
</EditForm>
<Badge Name="@badgeString" />

<hr />
<h2>Lists</h2>
<h3>Paginator</h3>
<div class="code"><code>@("<ListPaginator BatchSize=\"25\" ResultCount=\"126\" @bind-Value=\"_currentPage\"/>")</code></div>

<div class="d-flex">
    <label>Current Page: </label>
    <EditForm Model="_resultCount">
        <InputNumber @bind-Value="_resultCount"></InputNumber>
    </EditForm>
    <span class="ml-2">@(_currentPage+1)</span>
</div>
<ListPaginator BatchSize="25" ResultCount="_resultCount" @bind-Value="_currentPage" OnChange="((s) => Console.WriteLine(s))"></ListPaginator>

<h3>Carousel</h3>
<div class="code"><code>@("")</code></div>
@code {
    List<string> imageList = new List<string>()
    {
        "https://i.ytimg.com/an_webp/6OKrDa07rwM/mqdefault_6s.webp?du=3000&sqp=CMPpxZcG&rs=AOn4CLD-5PNJpC0mUxPgAZquZZ2eCp4W9A",
        "https://i.ytimg.com/an_webp/sH1KvVgVSIA/mqdefault_6s.webp?du=3000&sqp=CODGxZcG&rs=AOn4CLDibprnukeTP5XvbnWHUPQK2WsEbQ",
        "https://i.ytimg.com/an_webp/ianrUWxJblI/mqdefault_6s.webp?du=3000&sqp=CPj1xZcG&rs=AOn4CLCgmsnl5_LasTGgQRahbAckh3LhUw",
        "https://i.ytimg.com/an_webp/-dTN__nPWv4/mqdefault_6s.webp?du=3000&sqp=CMbsxZcG&rs=AOn4CLAc2RgO5jqR3ZZBZQgGGVrFlPJSsQ",
        "https://i.ytimg.com/an_webp/IifijsurvFE/mqdefault_6s.webp?du=3000&sqp=CM3vxZcG&rs=AOn4CLDkRp-cSxBV2rGumsGJFB-cSs0rrA",
        "https://i.ytimg.com/an_webp/p2ZxRUltRZY/mqdefault_6s.webp?du=3000&sqp=CIzAxZcG&rs=AOn4CLD4Px7tP7CAyvzkiJ5k6UMGUlQ-eQ",
    };
}
<Carousel Items="imageList" Context="imageSource">
    <img class="img-fluid" src="@imageSource"/>
</Carousel>

<hr />
<h2>Calendar</h2>
@code {
    CalendarEvent calEvent = new ();
}
<div class="row">
    <div class="col-lg-9">
        <EditForm Model="@badgeString">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column">
                    <label>Title</label>
                    <InputText @bind-Value="calEvent.Title"></InputText>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex flex-column">
                    <label>Location</label>
                    <InputText @bind-Value="calEvent.Location"></InputText>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex flex-column">
                    <label>Description</label>
                    <InputTextArea @bind-Value="calEvent.Description"></InputTextArea>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 d-flex flex-column">
                    <label>Start date</label>
                    <InputDateTime @bind-Value="calEvent.Start"></InputDateTime>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex flex-column">
                    <label>End date</label>
                    <InputDateTime @bind-Value="calEvent.End"></InputDateTime>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex flex-column">
                    <label>Full day</label>
                    <InputCheckbox @bind-Value="calEvent.IsFullDay"></InputCheckbox>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="col-lg-3">
        <AddToCalendar Title="@calEvent.Title" Description="@calEvent.Description" Location="@calEvent.Location" Start="@calEvent.Start" End="@calEvent.End" IsFullDay="@calEvent.IsFullDay">
            <i class="fas fa-calendar"></i>
        </AddToCalendar>
    </div>
</div>