@page "/"
@using BlazingApple.Components.Lists
<PageTitle>Index</PageTitle>

<h1 class="d-flex" style="align-items:center;">
    <img src="../../../BlazingApple.png" class="img-fluid" style="margin-right: .5rem; max-height:2.5rem;"/>
    Hello, world!
    </h1>

Welcome to your BlazingApples's component library! Glad you're here.

<h2>Due Date</h2>
<div class="code"><code>@("<DueDate Date=\"@DateTime.Now.Date.AddDays(5)\"/>")</code></div>

<h3>A few days from now</h3>
<DueDate Date="@DateTime.Now.Date.AddDays(5)"/>

<h3>Tomorrow</h3>
<DueDate Date="@DateTime.Now.Date.AddDays(1)"/>

<h3>Overdue</h3>
<DueDate Date="@DateTime.Now.Date.AddDays(-1)"/>

<h3><i>Really</i> Overdue</h3>
<DueDate Date="@DateTime.Now.Date.AddDays(-5)"/>

<h2>Icon Chooser</h2>
<div class="code"><code>@("<IconChooser/>")</code></div>
<IconChooser/>

<h2>Badges</h2>
<div class="code"><code>@("<Badge Name=\"Senate Bill 133\"/>")</code></div>
<Badge Name="Senate Bill 133"/>
<Badge UseFullString="true" Name="@("\"133\"")"/>
<Badge Name="Hello World I Love You"/>

<hr/>
<h2>Lists</h2>
<h3>Paginator</h3>
<div class="code"><code>@("<ListPaginator BatchSize=\"25\" ResultCount=\"126\" @bind-Value=\"_currentPage\"/>")</code></div>

<div class="d-flex">
<label>Current Page: </label>
<EditForm Model="_resultCount">
    <InputNumber @bind-Value="_resultCount"></InputNumber>
</EditForm>
<span class="ml-2">@(_currentPage+1)</span>
</div>
<ListPaginator BatchSize="25" ResultCount="_resultCount" @bind-Value="_currentPage"></ListPaginator>