@using BlazingApple.Components.HTMLElements
@using BlazingAppleConsumer.Components.Components
@using BlazingAppleConsumer.Components.Data
@page "/form-components"

<div class="d-flex" style="align-items:center;">
	<img src="_content/BlazingApple.Components/BlazingApple.png" class="img-fluid" style="margin-right: .5rem; max-height:2.5rem;" />
	<h1 class="ms-2">BlazingApple Form Components</h1>
</div>
@if (Model is not null)
{
	<EditForm Model="@Model" class="modal-form">
		<div class="form-body">
			<DataAnnotationsValidator />
			<MinimalCard style="margin: 1rem;">
				<div class="row">
					<h2>Multi-Checklist</h2>
					<div class="col-lg-4">
						<CodePreview Code="@(@"<InputCheckboxList class=""form-control"" 
	Data=""@_options"" 
	TItem=""DisplayValuePair<UserRole>""
		TValue=""UserRole""
	TextField=""@((item)=>item.Text)""
	ValueField=""@((item)=>item.Value)""
	OnChange=""OnChange""
	SelectedValues=""@SelectedRoles"" />")" />
					</div>
					<FormGroup for="title" ColumnWidthClass="col-md-8" Label="User Roles">
						<ValidationMessage For="@(() => Model)" />
						<InputCheckboxList class="form-control" Data="@_roleOptions" TItem="DisplayValuePair<UserRole>" TValue="UserRole"
										   TextField="@((item)=>item.Text)"
										   ValueField="@((item)=>item.Value)"
										   OnChange="OnChange"
										   SelectedValues="@SelectedRoles" />
					</FormGroup>
				</div>
			</MinimalCard>


			<MinimalCard style="margin: 1rem;">
				<div class="row">
					<div class="col-lg-6">
						<h2>Radio Button Group</h2>
						<CodePreview Code="@(@"<div class=""btn-group btn-group-toggle"">
	<InputRadioOG name=""feed"" SelectedValue=""@UserRole.Basic"" @bind-Value=""Model.Role"">
		Basic
	</InputRadioOG>
	...
	<InputRadioOG name=""feed"" SelectedValue=""@UserRole.Owner"" @bind-Value=""Model.Role"">
		Owner
	</InputRadioOG>
</div>")" />
						<div class="btn-group btn-group-toggle" style="max-width:12rem;">
							<InputRadioOG name="feedFilter" SelectedValue="@UserRole.Basic" @bind-Value="Model.SelectedRole"
										  style="border-top-left-radius: 2rem; border-bottom-left-radius: 2rem;">
								Basic
							</InputRadioOG>
							<InputRadioOG name="feedFilter" SelectedValue="@UserRole.Admin" @bind-Value="Model.SelectedRole">
								Administrator
							</InputRadioOG>
							<InputRadioOG name="feedFilter" SelectedValue="@UserRole.Owner" @bind-Value="Model.SelectedRole"
										  style="border-top-right-radius: 2rem; border-bottom-right-radius: 2rem;">
								Owner
							</InputRadioOG>
						</div>
					</div>
					<div class="col-lg-6">
						<h3>Radio Buttons - Boolean</h3>
						<CodePreview Code="@(@"<InputRadioOG TValue=""string"" SelectedValue=""@(""false"")"" @bind-Value=""radioVal"" OnChange=""OnValueChange"">False</InputRadioOG>
	<InputRadioOG TValue=""string"" SelectedValue=""@(""true"")"" @bind-Value=""radioVal"" OnChange=""OnValueChange"">True</InputRadioOG>")" />
							@code {
								string? radioVal = "true";

								private void OnValueChange(string newVal)
								{
									bool.TryParse(newVal, out bool result);
								}
							}
						<div>
							<label>Boolean radio value: @radioVal</label>
							<InputRadioOG TValue="string" SelectedValue="@("false")" @bind-Value="radioVal" OnChange="OnValueChange">False</InputRadioOG>
							<InputRadioOG TValue="string" SelectedValue="@("true")" @bind-Value="radioVal" OnChange="OnValueChange">True</InputRadioOG>
						</div>
					</div>
				</div>
			</MinimalCard>

			<MinimalCard style="margin: 1rem;">
				<div class="row">
					<div class="col-lg-12">
						<CodePreview Code="@(@"<PillRadioGroup Name=""role2"" @bind-Value=""Model.SelectedRole2"" Options=""@(Enum.GetValues<UserRole>())"">
							<TemplatedContent Context=""role"">
								@role
							</TemplatedContent>
						</PillRadioGroup>")" />
					</div>
				</div>
				<div class="row">
					<h2>Pill Radio Group</h2>
					<div class="col-lg-4">
						<h3>Standard</h3>
						<PillRadioGroup Name="role2" @bind-Value="Model.SelectedRole2" Options="@(Enum.GetValues<UserRole>())">
							<TemplatedContent Context="role">
								@role
							</TemplatedContent>
						</PillRadioGroup>
					</div>

					<div class="col-lg-4">
						<h3>Small</h3>
						<PillRadioGroup Name="role3" @bind-Value="Model.SelectedRole3" Options="@(Enum.GetValues<UserRole>())" AdditionalClasses="small">
							<TemplatedContent Context="role">
								@role - @((int)role)
							</TemplatedContent>
						</PillRadioGroup>
					</div>

					<div class="col-lg-4">
						<h3>With "Previous Value" set.</h3>
						<PillRadioGroup Name="role4" @bind-Value="Model.SelectedRole4" PreviousValue="UserRole.Owner" Options="@(Enum.GetValues<UserRole>())" AdditionalClasses="small">
							<TemplatedContent Context="role">
								@role - @((int)role)
							</TemplatedContent>
						</PillRadioGroup>
					</div>
				</div>
			</MinimalCard>
	</div>
</EditForm>
}