@typeparam TItem
@* See the following for details on this implementation:
	https://codepen.io/thebabydino/pen/zdhmt
	https://stackoverflow.com/questions/12813573/position-icons-into-circle
*@
@if(Items is not null && Items.Count > 0) {
	if(Items.Count > 1) {
		<div class="ba-circle-container" style="--m: @Items.Count; --d:@ItemSize; --tan: @_tan">
			@for (int i = 0; i < Items.Count; i++)
			{
				TItem item = Items[i];
				<div class="ba-circle-item" style="--i: @i">
					@RowTemplate(item)
				</div>
			}
			<!-- the rest of those placed on the circle -->
		</div>
	}
	else
	{
		<div>
			@RowTemplate(Items[0])
		</div>
	}
}