<nav aria-label="Page navigation example">
	<ul class="pagination">
		@{
			string previousClasses = "page-item";
			if (Value == 0)
				previousClasses += " disabled";
				
			string nextClasses = "page-item";
			if (Value == _pageCount-1)
				nextClasses += " disabled";
		}

		<li class="@previousClasses">
			<button class="page-link" @onclick="() => OnPreviousClick(true)" title="Go to beginning">
				<i class="fas fa-angle-double-left"></i>
			</button>
		</li>
		<li class="@previousClasses">
			<button class="page-link" @onclick="() => OnPreviousClick()" title="Go to previous page">
				<i class="fas fa-angle-left"></i>
			</button>
		</li>

		@{
			int leftIndexStart = Math.Min(Math.Max(0,Value-5), Math.Max(0,Math.Min(Value-5,_pageCount-10)));
			int rightIndexEnd = Math.Min(Math.Max(Value + 5, 10), _pageCount);
		}

		@if (leftIndexStart > 0 && rightIndexEnd >= _pageCount)
		{
			<li class="page-item">
				<button class="page-link justify-content-center d-flex" style="width:2.5rem;" @onclick="()=> OnPageNumberClick(0)">
					1
				</button>
			</li>

			<li class="page-item">
				<button class="page-link justify-content-center disabled" style="width:2.5rem;" disabled>
					<i class="fas fa-ellipsis-h"></i>
				</button>
			</li>

		}

		@for (int i = leftIndexStart; i < rightIndexEnd; i++)
		{
			string classes = "page-item";
			int buttonIndex = i;
			if(Value == i)
			{
				classes += " active";
			}

			<li class="@classes">
				<button class="page-link justify-content-center d-flex" style="width:2.5rem;" @onclick="()=> OnPageNumberClick(buttonIndex)">@(i+1)</button>
			</li>
		}

		@if(rightIndexEnd < _pageCount)
		{
			<li class="page-item">
				<button class="page-link justify-content-center disabled" style="width:2.5rem;" disabled>
					<i class="fas fa-ellipsis-h"></i>
				</button>
			</li>

			<li class="page-item">
				<button class="page-link justify-content-center d-flex" style="width:2.5rem;" @onclick="()=> OnPageNumberClick(_pageCount-1)">
					@_pageCount
				</button>
			</li>
		}

		<li class="@nextClasses">
			<button class="page-link" @onclick="() => OnNextClick()" title="Go to next page">
				<i class="fas fa-angle-right"></i>
			</button>
		</li>
		<li class="@nextClasses">
			<button class="page-link" @onclick="() => OnNextClick(true)" title="Go to end">
				<i class="fas fa-angle-double-right"></i>
			</button>
		</li>
	</ul>
</nav>