@using BlazingApple.Components.Shared.Models.Reactions;

@if (_showOptions)
{
	<div style="top:0; left:0; position:fixed; z-index:2; height:100%; width: 100%;" @onclick="OnMouseOut"></div>
}
<div style="display: inline-flex;" @attributes="@AdditionalAttributes">
	@if(Reactions is not null) {
		<div class="me-2">
			<ExistingReactions Reactions="@Reactions.AsReadOnly()"/>
		</div>
	}
	<div style="position:relative;">
		@if (_showOptions)
		{
			<div style="z-index: 3; position:absolute; top:-2.5rem;">
				<ReactionOptions Value="Value" ValueChanged="@OnValueSelect" />
			</div>
		}

		@if (!Value.HasValue)
		{
			<button class="@ButtonClasses" @onmouseenter="OnMouseIn">
				<span>@DefaultButtonText</span>
			</button>
		}
		else
		{
			<button class="@($"{ButtonClasses} fw-bold")" @onmouseenter="OnMouseIn">
				<span>
					@if(ShowIconsOnly) {
						@Value.GetEnumDisplayName()
					}
					else {
						@Value.GetEnumDisplayName() @Value
					}
				</span>
			</button>
		}
	</div>
</div>