<div class="timelineStop">
	<div class="timelineStopLineContainer">
		@if (!IsFirst)
		{
			<div class="@_leftTimelineLineClasses"></div>
		}	
		<div class="@_subwayStopBadgeClasses" title="@Description"></div>	
		@if (!IsLast)
		{
			<div class="@_rightTimelineLineClasses"></div>
		}
	</div>
	<div class="@_contentContainerClasses">
		<TextLimitedSegment Content="@Title" title="@Description"></TextLimitedSegment>
	</div>
</div>