@using BlazingApple.Components.HTMLElements

@if (Step is not null)
{
    if (Step.Status != WorkflowStepStatus.Skipped)
    {
        <div class="@GetHiddenClass()">
            <h3>@Step.Title</h3>

            @if (!string.IsNullOrEmpty(Step.Description))
            {
                <div class="text-muted">@Step.Description</div>
            }

            @if (Step.Content is not null)
            {
                <CascadingValue Value="this">
                    @Step.Content
                </CascadingValue>
            }

            <div class="mt-4">
                <FormGroup ColumnWidthClass="col-md-12">
                    <div class="d-flex" style="justify-content:center;">
                        <div>
                            <button class="btn btn-outline-primary mr-1" disabled="@(!Step.AllowPreviousNavigation)" @onclick="OnPreviousClick">Previous</button>
                            <button class="btn btn-primary ml-1" disabled="@(!Step.IsComplete)" @onclick="OnNextClick">Next</button>
                        </div>
                    </div>
                </FormGroup>
            </div>
        </div>
    }
}
